# build directories
/build/
/bin/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# compiled object files
*.o
*.obj

# compiled dynamic libraries
*.so
*.dylib

# compiled static libraries
*.a
*.lib

# temp files 
*.tmp
*.swp
*.swo



